button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1CD2A6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }

button:hover {
    transform: scale(1.1);
  }
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.1;
    transition: width 0.3s ease-in-out;
    z-index: -1;
  }

button:hover::before {
    width: 100%;
  }